/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
color: white;
background-color: rgb(72, 90, 40);

}
.wrapper {

   font-size: 1.1rem;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   width: 900px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 15px;

}
.wrapper header h1 {
     background-color: rgb(39, 132, 101);
    color: white;
    height: 40px;
    line-height: 40px;
    font-size: 28px;
    padding-left: 10px;
}
.wrapper img {
    
    width: 150px;
    display: block;
}
.wrapper img {
float: left;
display: block;
padding-right: 10px;

}
main {

    margin-top: 25px;
}
main p {
   font-size: 1.1rem;
   color: rgb(224, 241, 239);
   line-height: 25px;
   padding-bottom: 10px;

}
.program {
    background-color: rgb(39, 132, 101);
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

}
.program h1 {

    line-height: 25px;
}
.program p {
   font-weight: normal;
    line-height: 25px;
}
